include LICENSE.txt
include README.rst

recursive-include Doc *.rst *.html *.ipynb
recursive-include pyzos/zos_obj_override *.py
recursive-include Examples/scripts *.py *.zbf *.png *.txt *.CFG
recursive-include Examples/misc *.py 
recursive-include Examples/jupyter_notebooks *.ipynb
prune pyzos/__pycache__
prune Examples/jupyter_notebooks/.ipynb_checkpoints